# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# PyInstaller
build/
dist/
*.spec

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# PDFs (output)
*_comprimido.pdf
*_split_*.pdf
resultado.pdf
unido.pdf
